body {
  margin: 0px;
  --my-gap: 20px;
  --blue-col: rgb(48, 188, 253);
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px;
}

.sidebar,
.menu,
.board {
  box-sizing: border-box;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  min-height: 100vh;
  background-color: var(--blue-col);
}

.menu,
.board {
  grid-column: 2 / 3;
}

.menu {
  display: grid;
  grid-template-rows: 2fr 3fr;
  background-color: rgb(255, 255, 255);
}

.menuUpper {
  grid-row: 1 / 2;
  background-color: rgb(255, 255, 255);
}

.menuLower {
  grid-row: 2 / 3;
}

.board {
  display: grid;
  grid-template-columns: 8fr 3fr;
  gap: var(--my-gap);
  padding: 30px;
  background-color: rgb(231, 231, 231);
  box-shadow: 3px 3px 5px rgb(209, 209, 209) inset;
}

.leftSide {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 20px 1fr;
  gap: var(--my-gap);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: var(--my-gap);
}

.card,
.trending,
.announcement {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 3px 2px rgb(201, 201, 201);
  border-radius: 10px;
}

.staticCards {
  display: grid;
  grid-template-rows: 20px 2fr 20px 3fr;
  gap: var(--my-gap);
}

.card {
  border-style: solid;
  border-color: orange;
  border-width: 0px 0px 0px 6px;
  padding: 30px 30px;
  display: grid;
  grid-template-rows: 25px 1fr 40px;
}

.leftSide h2 {
  margin: 0 0 20px 0;
}

.staticCards h2 {
  margin: 0px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

.iconsCard {
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(3, 25px);
  gap: 20px;
  align-content: end;
}
